body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.video-container {
    /* position: fixed; */
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
video{
    border: 5px solid white;
}
#record-video {
    color:white;
    position: fixed;
    right: 6rem;
    top: 36vh;
    font-size: 40px;
}

#click-picture {
    color:white;
    position: fixed;
    right: 6rem;
    top: 50vh;
    font-size: 40px;
}

video {
    height: 100%;
    /* width: 100%; */
}

.filter-container {
    border: 1px solid white;
    position: fixed;
    top: 20vh;
    left: 5vw;
    height: 60vh;
    width: 6vw;
}

.filter {
    border: 1px solid white;
    height: 20%;

}
.filter:hover{
    transform: scale(1.2);
}

.filter-screen-parent {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0
}
#remove-filter{
    font-size: 40px;
    color:white;
    top:  90vh;
    left: 5vw;
    position: fixed;
}
#remove-filter:hover,#click-picture:hover,#record-video:hover{
    cursor: pointer;
    transform: scale(1.2);
}